<div>
  <mat-checkbox [value]="" [checked]="isChecked">Test checker 1</mat-checkbox> <br>
  <div *ngIf="showDetails.checked">Details</div>
  <mat-checkbox [value]="" checked="true">Test checker 2</mat-checkbox> <br>
  <mat-checkbox [value]="" checked="true" (change)=onChange($event) #showDetails>Test checker 3 (show details)</mat-checkbox>

</div>


<div>

  <mat-radio-group aria-label="Select an option" value=1>
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>

</div>


