.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

.comp-container {
  margin: 60px;
  display: flexbox;
 
}


/* .mat-icon {
  color: purple;
  font-size: 50px;
  margin-left: 10px;
} */

button {
   display: block;
   margin-top: 10px;
   
 }

 mat-tab-body-content {

  padding-top: 10px;
  color: blue;
 }